Q1.What is a database? Differentiate between SQL and NoSQL databases.

Ans:- A database is a collection of data that is organized and structured in a way that allows for efficient storage, retrieval, and manipulation of data. A database management system (DBMS) is a software system that manages the storage and retrieval of data in a database. Databases are used to store a variety of information, including customer information, product information, financial information, and more.

SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases are two different types of databases.

SQL databases, also known as relational databases, are based on the relational model of data, where data is organized in tables with predefined relationships between them. SQL databases use SQL to manipulate and retrieve data, and they have well-defined schemas that define the structure of the data in the database. Some examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, are non-relational databases that do not use SQL for querying and manipulating data. NoSQL databases use a variety of data models, such as key-value stores, document stores, column-family stores, and graph databases. NoSQL databases are often used for storing and managing large volumes of unstructured or semi-structured data. Examples of NoSQL databases include MongoDB, Cassandra, Couchbase, and Neo4j.

One major difference between SQL and NoSQL databases is the way they handle data relationships. SQL databases use a well-defined schema to enforce relationships between tables, while NoSQL databases often store data in a denormalized way, allowing for more flexible and scalable data structures. Additionally, NoSQL databases are often more scalable and can handle larger amounts of data, while SQL databases are typically better suited for complex queries and data integrity enforcement.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language and refers to a set of SQL commands used to create, modify, and delete database structures such as tables, indexes, views, and constraints. DDL commands are used to define the schema of a database and the relationships between its various components.

Here are some of the most common DDL commands and their uses:

CREATE: The CREATE command is used to create new database objects such as tables, indexes, and views. For example, to create a new table called "employees" with columns for "employee_id", "first_name", "last_name", and "email", you would use the following SQL statement:

In [4]:
# CREATE TABLE employees (
#     employee_id INT PRIMARY KEY,
#     first_name VARCHAR(50),
#     last_name VARCHAR(50),
#     email VARCHAR(100));

DROP: The DROP command is used to remove a database object from the database. For example, to drop the "employees" table created in the previous example, you would use the following SQL statement:

In [3]:
#DROP TABLE employees;

ALTER: The ALTER command is used to modify the structure of an existing database object. For example, to add a new column called "salary" to the "employees" table, you would use the following SQL statement:

In [5]:
#ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);

TRUNCATE: The TRUNCATE command is used to remove all data from a table, but the table itself remains in the database. For example, to remove all data from the "employees" table, you would use the following SQL statement:

In [6]:
#TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language and is a set of SQL commands used to manipulate the data in a database. DML commands are used to insert, update, delete, and query data in a database.

Here are some of the most common DML commands and their uses:

INSERT: The INSERT command is used to add new rows of data to a table. For example, to add a new employee to the "employees" table created in the previous example, you would use the following SQL statement:

In [8]:
# INSERT INTO employees (employee_id, first_name, last_name, email, salary)
# VALUES (1, 'Nabina Kumar', 'Mahapatra', 'nabinakumarmahapatra.com', 50000.00);

UPDATE: The UPDATE command is used to modify existing data in a table. For example, to update the salary of the employee with an employee_id of 1, you would use the following SQL statement:

In [10]:
# UPDATE employees
# SET salary = 55000.00
# WHERE employee_id = 1;

DELETE: The DELETE command is used to remove rows of data from a table. For example, to delete the employee with an "employee_id" of 1 from the "employees" table, you would use the following SQL statement:

In [11]:
# DELETE FROM employees
# WHERE employee_id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language and is a subset of SQL commands used to retrieve data from a database. DQL commands are primarily used to query the data in a database, selecting specific columns or rows based on certain criteria.

The most common DQL command is SELECT, which is used to retrieve data from one or more tables in a database. Here is an example of how to use the SELECT command to retrieve all of the data from a table:

#SELECT * FROM employees;

In this example, "employees" is the name of the table you want to retrieve data from, and the "*" wildcard symbol is used to select all columns from the table. This statement will return all of the data from the "employees" table.

You can also select specific columns from a table using the SELECT command. For example, if you only want to retrieve the first name and last name columns from the "employees" table, you would use the following statement:

#SELECT first_name, last_name FROM employees;

This statement will only return the "first_name" and "last_name" columns from the "employees" table.

In addition to selecting columns from a table, you can also filter the data returned by the SELECT command based on specific criteria. For example, if you only want to retrieve employees with a salary greater than 50,000, you would use the following statement:

#SELECT * FROM employees WHERE salary > 50000;

This statement will only return rows from the "employees" table where the "salary" column is greater than 50,000.

The SELECT command is a powerful tool for retrieving data from a database, and it can be used in a variety of ways to retrieve specific data based on various criteria.

Q5. Explain Primary Key and Foreign Key.

A primary key and a foreign key are two important concepts in database design that are used to establish relationships between tables.

A primary key is a column or set of columns in a table that uniquely identifies each row in the table. A primary key cannot contain null values and must be unique for each row. Primary keys are used to ensure the integrity of the data in the table and to enable other tables to establish relationships with the table.

For example, in a table of employees, the "employee_id" column can be used as the primary key, as each employee in the table will have a unique ID number. This allows other tables to reference the employee table by the "employee_id" column.

A foreign key, on the other hand, is a column in one table that references the primary key of another table. A foreign key establishes a relationship between two tables by allowing one table to reference the data in another table. The table that contains the foreign key is called the "child" table, and the table that contains the primary key is called the "parent" table.

For example, suppose we have two tables: "employees" and "departments". The "employees" table contains an "employee_id" column as its primary key, while the "departments" table contains a "department_id" column as its primary key. If we want to establish a relationship between these tables, we can add a "department_id" column to the "employees" table as a foreign key that references the "department_id" column in the "departments" table. This allows us to associate each employee with a department.

In summary, a primary key uniquely identifies each row in a table, while a foreign key establishes a relationship between two tables by allowing one table to reference the primary key of another table. Primary and foreign keys are fundamental to the structure and design of a relational database.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you will need to use a MySQL driver. One of the most popular MySQL drivers for Python is mysql-connector-python, which you can install using pip. Here is an example of how to connect to MySQL from Python using this driver:

python

import mysql.connector

#Connect to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

#Create a cursor object
mycursor = mydb.cursor()

#Execute a SQL query
mycursor.execute("SELECT * FROM employees")

#Fetch the results
results = mycursor.fetchall()

#Print the results
for result in results:
  print(result)
In this example, we first import the mysql.connector module and then use the connect() method to establish a connection to the MySQL server. We pass in the host, username, password, and database that we want to connect to.

Next, we create a cursor object using the cursor() method. A cursor is a control structure that allows you to traverse and manipulate the results of a query. We will use the cursor object to execute SQL queries and fetch the results.

We then use the execute() method of the cursor object to execute a SQL query. In this example, we are selecting all of the data from the "employees" table. The execute() method takes a SQL query as its argument.

After executing the query, we use the fetchall() method of the cursor object to fetch all of the results of the query. The results are returned as a list of tuples, where each tuple represents a row in the result set.

Finally, we loop through the results and print each row to the console.

In summary, the cursor() method creates a cursor object, which allows you to execute SQL queries and manipulate the results. The execute() method is used to execute a SQL query, and the fetchall() method is used to fetch the results of the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in an SQL query is determined by the logical query processing order. The logical query processing order specifies the sequence in which SQL clauses are evaluated to produce the final result set.

The logical query processing order consists of the following steps:

FROM clause: The FROM clause is evaluated first to identify the tables that will be used in the query.

JOIN clause: If the query includes any JOIN clauses, these are evaluated next to combine the rows from multiple tables.

WHERE clause: The WHERE clause is evaluated next to filter the rows based on the specified conditions.

GROUP BY clause: If the query includes a GROUP BY clause, the rows are grouped into subsets based on the specified columns.

HAVING clause: The HAVING clause is evaluated next to filter the groups based on the specified conditions.

SELECT clause: The SELECT clause is evaluated next to determine the columns to include in the result set.

DISTINCT clause: If the query includes a DISTINCT clause, duplicate rows are removed from the result set.

ORDER BY clause: If the query includes an ORDER BY clause, the rows in the result set are sorted based on the specified columns.

TOP or LIMIT clause: If the query includes a TOP or LIMIT clause, the number of rows in the result set is limited to the specified value.

It's important to note that not all SQL queries will include all of these clauses, and the order of execution may vary based on the specific clauses included in the query. However, this logical query processing order provides a general framework for understanding how SQL queries are executed.